@page "/"

@* <div> *@
@*     <h1>Binders</h1> *@
@*     <BindEvento/> *@
@*     <hr> *@
@*     <BindGetSetDemo ></BindGetSetDemo> *@
@*     <hr> *@
@*     <BindAfterDemo></BindAfterDemo> *@
@* *@
@* </div> *@
<div>
    <h3>Películas</h3>
    <ListadoPeliculas Peliculas="ObtenerListadoDePeliculas()" />
</div>

<div>
    <h2>Agregar película</h2>
    
    <InputTextEjemplo placeholder="Título de la película" />
    <InputTextEjemplo @attributes="@(new Dictionary<string, object>()
                                       {
                                           {"placeholder","Clasificación"},
                                           {"disabled","true"}
                                       })" />
    <InputTextEjemplo @attributes="TextBoxAttributosArbitrarios" />
</div>

@code
{
    private Dictionary<string, object> TextBoxAttributosArbitrarios =
        new Dictionary<string, object>()
            {
                {
                    "placeholder", "Género"
                }
            };
    // // Properties
    // IPelicula WakandaForEver { get => ObtenerPelicula(); }
    // IList<IPelicula>? Peliculas { get; set; }


    // Methods

    IList<Pelicula> ObtenerListadoDePeliculas()
    {
        var tenDaysBefore = (DateTime.Today).AddDays(-10);
        return new List<Pelicula>()
            {
                new Pelicula
                    {
                        Nombre = "Wakanda Forever",
                        FechaLanzamiento = tenDaysBefore
                    }, 
                new Pelicula
                    {
                        Nombre = "Moana",
                        FechaLanzamiento = new DateTime(2016, 11, 23)
                    }, 
                new Pelicula
                    {
                        Nombre = "Inception",
                        FechaLanzamiento = new DateTime(2010, 7, 16)
                    }

            };
    }

}
