
<div>
    <input type="checkbox" @bind="_mostrarBotones">
    <span>Mostrar todos los botones</span>
</div>
<div>
    <ListadoGenerico Items="Peliculas">
        <HayRegistros Context = "Pelicula">
            <PeliculaItem Pelicula="Pelicula"
                          MostrarBotones="_mostrarBotones"
                          EliminarPelicula="EliminarPelicula"/>
        </HayRegistros>
    </ListadoGenerico>
</div>


@code {
        
    bool _mostrarBotones = false;

    // Properties
    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }

    
    // [Parameter]
    // public RenderFragment ChildContent { get; set; } = null!;
    


    private void EliminarPelicula(Pelicula pelicula)
    {
        Console.WriteLine($"Eliminando la película {pelicula.Nombre}");
        Peliculas!.Remove(pelicula);
    }
    
    
    // // Component Life Cycle
    // protected override async Task OnInitializedAsync()
    // {
    //     // await Task.Delay(10);
    //     // Peliculas = ObtenerListadoDePeliculas();
    //
    // }
    
    // Methods
    Pelicula ObtenerPelicula()
    {
        return new Pelicula
            {
                Nombre = "Wakanda Forever",
                FechaLanzamiento = new DateTime(2022, 11, 25)
            };
    }

    
    void ManejarCickBoton()
    {
        Console.WriteLine("Me han clickeado usando función!");
    }
}
