

    @if(Peliculas is null)
    {
        <p>
            @if (Cargando is null)
            {
                <img
                    alt="Cargando películas"
                    src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921"/>
            }
            else
            {
                @Cargando
            }
        </p>
    }
    else if (Peliculas.Count == 0)
    {
        @if (SinRegistros is null)
        {
            <p>No hay películas para mostrar</p>
        }
        else
        {
            @SinRegistros
        }
    }
    else
    {
        <div>
            <input type="checkbox" @bind="_mostrarBotones">
            <span>Mostrar todos los botones</span>
        </div>
        <div>
            @foreach (var pelicula in Peliculas)
        {
            <PeliculaItem Pelicula="pelicula" 
                          MostrarBotones="_mostrarBotones"
                          EliminarPelicula="EliminarPelicula"
            />
        }
        </div>
    }



@code {
        
    bool _mostrarBotones = false;

    // Properties
    [Parameter]
    [EditorRequired]
    public IList<Pelicula>? Peliculas { get; set; }

    
    // [Parameter]
    // public RenderFragment ChildContent { get; set; } = null!;
    
    [Parameter]
    public RenderFragment Cargando { get; set; } = null!;
    
    [Parameter]
    public RenderFragment SinRegistros { get; set; } = null!;

    private void EliminarPelicula(Pelicula pelicula)
    {
        Console.WriteLine($"Eliminando la película {pelicula.Nombre}");
        Peliculas!.Remove(pelicula);
    }
    
    
    // // Component Life Cycle
    // protected override async Task OnInitializedAsync()
    // {
    //     // await Task.Delay(10);
    //     // Peliculas = ObtenerListadoDePeliculas();
    //
    // }
    
    // Methods
    Pelicula ObtenerPelicula()
    {
        return new Pelicula
            {
                Nombre = "Wakanda Forever",
                FechaLanzamiento = new DateTime(2022, 11, 25)
            };
    }

    
    void ManejarCickBoton()
    {
        Console.WriteLine("Me han clickeado usando función!");
    }
}
