<div>
    <p>
        Título: <strong>@Pelicula.Nombre</strong>

        @if (DateTime.Today.Subtract(Pelicula.FechaLanzamiento).Days <= 14)
        {
            <span style="color:red"> (Reciente)</span>
        }

    </p>
    <p>Fecha de lanzamiento: <strong>@Pelicula.FechaLanzamiento.ToString("dd MMM yyyy")</strong></p>
    
    @if (MostrarBotones)
    {
        <div><button @onclick="Eliminar" >Borrar película</button></div>
    }
    <hr/>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public IPelicula Pelicula { get; set; } = null!;

    [Parameter]
    public bool MostrarBotones { get; set; } = false;
    
    
    void Eliminar()
    {
        Console.WriteLine($"Eliminando la película {Pelicula.Nombre}");
    }
}
